body {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 300px;
}

#display {
    border-radius: 8px;
    background-color: #b8dbfd;
    padding: 10px;    
    text-align: end;
    font-weight: bold;
    font-size: large;
}

.keyboard {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.button {
    border-radius: 8px;
    background-color: rgb(207, 144, 230);
    aspect-ratio: 1/1;
    min-width: 30px;
    padding: 10px;
    text-align: center;
    flex: 1;
}

.button:hover {
    background-color: rgb(237, 190, 254);
}

.number-container {
    display: flex;
    margin: 0;
    flex-direction: column;
    flex: 3;
}

.operator-container {   
    margin: 0;
    flex: 1;
}

.row {
    display: flex;
}

.upper {
    display: flex;
}

.lower {
    display: flex;
}

#clear, #backspace {
    aspect-ratio: 3/1;
}