body {
    display: flex;
    flex-direction: column;
    min-width: 100px;
    max-width: 300px;
}

#display {
    border-radius: 8px;
    background-color: #b8dbfd;
    padding: 10px;    
    text-align: end;
    font-weight: bold;
    font-size: large;
}

.keyboard {
    display: flex;
}

.button {
    border-radius: 8px;
    background-color: rgb(207, 144, 230);
    aspect-ratio: 1/1;
    min-width: 30px;
    padding: 10px;
    text-align: center;
}

.number-container {
    display: flex;
    flex-wrap: wrap;
    flex: 3;
    margin: 0;
}

.operator-container {
    flex: 1;
    margin: 0;
}